header{
  @include flexCenter(space-between,center);
  padding: 0 80px;
  box-sizing: border-box;
  color:#222;
  h1 {
    width: 225px;
    .logo {
      width:100%;
      object-fit: cover;
    }
  }
  .quick_link{
    @include customSize(auto,48px);
    @include flexCenter(center, center);
    border-radius:40px;
    padding: 0 8px;
    border: 1px solid $border;
    box-shadow: 2px 2px 5px #d1d0d0;
    box-sizing:border-box;
    ul{
      @include flexCenter(none, center);
      li{
        position:relative;
        &::after{
          content:'';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: $border;
          @include customSize(1px, 24px);
        }
        &:last-child{
          &::after{display:none;}
        }
      }
    }
    &:hover{
      box-shadow: 3px 3px 7px #d1d0d0;
    }
  }
  .user_area{
    @include flexCenter(space-between, center);
    .txt_desc{
      font-weight: bold;
      font-size: 14px;
      padding:12px;
      border-radius:20px;
      &:hover{background-color:$bgC01;}
    }
  }
}
.ico{
  &__bx{
    @include flexCenter(center,center);
    @include customSize(32px,32px);
    background-color: $pointC;
    border-radius: 50%;
  }
  &__search{
    @include customSize(12px,12px);
    background: url(../img/search.svg) no-repeat;
    background-size: 100%;
  }
  &__menu{

  }
  &__user{

  }
  &__earth{
    display: inline-block;
    vertical-align: top;
    @include customSize(15px, 15px);
    background: url(../img/earch.svg) no-repeat;
    background-size: 100%;
  }
}

.btn{
  &__search{
    display: inline-block;
    vertical-align:top;
    padding: 0 16px;
    box-sizing: border-box;
    height: 100%;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    &.btn__s03{
      font-weight: normal;
      color:#717171;
    }
  }
  &__lang{

  }

}
