
@mixin customSize($w:auto, $h:auto){
  width: $w;
  height: $h
}
@mixin flexPos($justify:null,$align:null){
  display:flex;
  @if($justify){
    justify-content:$justify;
  }
  @if($align){
    align-items:$align;
  }
}
@mixin position($type,$l:null,$t:null,$r:null,$b:null){
  position:$type;
  @if($l){
    left:$l;
  }
  @if($t) {
    top:$t;
  }
  @if($r){
    right:$r;
  }
  @if($b){
    bottom:$b;
  }
}
@mixin translate($x:null,$y:null){
  @if($x , $y){
    transform: translate($x,$y);
  }@else if($x){
    transform: translateX($x);
  }
}