body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
header h1 {
  width: 225px;
}
header h1 .logo {
  width: 100%;
  object-fit: cover;
}
header .quick_link {
  width: 340px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #ddd;
}
header .quick_link ul {
  display: flex;
  justify-content: none;
  align-items: center;
}
header .quick_link ul li {
  position: relative;
}
header .quick_link ul li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
  width: 1px;
  height: 24px;
}
header .quick_link ul li:last-child::after {
  display: none;
}
header .user_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .user_area .txt_desc {
  font-size: 13px;
  font-weight: bold;
}

.ico__bx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
  line-height: 64px;
}
.ico__search {
  width: 15px;
  height: 15px;
  background: url(../img/Magnifying_glass_icon.svg) no-repeat;
  background-size: 100%;
}
.ico__earth {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background: url(../img/earch.svg) no-repeat;
  background-size: 100%;
}

.btn__search {
  display: inline-block;
  vertical-align: top;
  padding: 0 16px;
  box-sizing: border-box;
  height: 100%;
  line-height: 64px;
}